@charset "UTF-8";


#chat{
	margin-top:15px;
	padding-left: 25px;
	width:600px;
	float: left;
}

#chatRoom {
overflow-x:hidden;
overflow-y:scroll;
height:700px;
margin-top: 20px;
border: 1px solid black;
}

.searchUserMainDiv
{
	display:flex;
	padding-bottom: 15px;
}

.userDiv:hover
{
	background-color: #202020;
}
.userDiv
{
	padding : 7px 0;
	cursor: pointer;
	
}
.userDiv .iconDiv .profileIcon
{
	width:48px;
	height:48px;
}
.idNameDiv
{
	padding-left: 12px;
}
#userContainer .userDiv
{
	display: flex;
}


#chatList .chatBtn
{
	background-color: #ee005d;
	margin-right:15px;
    border-radius: 25px;
    display: block;
    font-size: 15px;
    color: white;
}

#chatList .titleMainDiv
{
	display: flex;
	justify-content: space-between;
	padding-bottom: 15px;
}
#chatList .search
{
	display: flex;
	width :100%;
	height :40px;
	border: 1px solid #202020;
	border-radius: 25px;
}
#chatList .search input
{
	margin: auto 0;
	width:90%;
	height : 70%;
	border: none; background: transparent;
	color: white;
	font-size:20px;
	padding-left: 10px;
}
#chatList .search .searchImg
{
	padding-top :5px;
	padding-right: 15px;
}


#chatList .search input:focus
{
	outline: 0;
}

.arrChat
{
	padding: 15px 0;
	font-size: 24px;
	display: flex;
	justify-content: space-between;
}
.arrChat button
{
	background-color: #ee005d;
	margin-right:15px;
    border-radius: 25px;
    padding: 5px 30px;
    display: block;
    font-size: 15px;
    color: white;
    cursor: pointer;
}
.arrChat:hover
{
	background-color: #202020;
}
	
#chatList .titleDiv
{
	font-size: 24px;
	padding-top: 5px;
}
#chatList
{
	padding: 0 15px;
	width: 388px;
	height: 100%;
	float: left;
	border-right: 1px solid #202020;
}
#backIconDiv:hover
{
	cursor: pointer;
	background-color: #202020;
}
#chat
{
	
}
#chatTbl{
	
}

   #modal.modal-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, 0.25);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
        }
        #modal .modal-window {
            background: rgba( 69, 139, 197, 0.70 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 13.5px );
            -webkit-backdrop-filter: blur( 13.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            width: 400px;
            height: 500px;
            position: relative;
            top: -100px;
            padding: 10px;
        }
        #modal .title {
            padding-left: 10px;
            display: inline;
            text-shadow: 1px 1px 2px gray;
            color: white;
        }
        #modal .title h2 {
            display: inline;
        }
        #modal .close-area {
            display: inline;
            float: right;
            padding-right: 10px;
            cursor: pointer;
            text-shadow: 1px 1px 2px gray;
            color: white;
        }
        
        #modal .content {
            margin-top: 20px;
            padding: 0px 10px;
            text-shadow: 1px 1px 2px gray;
            color: white;
        }
        
   #modal2.modal-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(255, 255, 255, 0.25);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(1.5px);
            -webkit-backdrop-filter: blur(1.5px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
        }
        #modal2 .modal-window {
            background: rgba( 69, 139, 197, 0.70 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 13.5px );
            -webkit-backdrop-filter: blur( 13.5px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
            width: 400px;
            height: 500px;
            position: relative;
            top: -100px;
            padding: 10px;
        }
        #modal .title {
            padding-left: 10px;
            display: inline;
            text-shadow: 1px 1px 2px gray;
            color: white;
            
        }
        #modal2 .title h2 {
            display: inline;
        }
        #modal2 .close-area {
            display: inline;
            float: right;
            padding-right: 10px;
            cursor: pointer;
            text-shadow: 1px 1px 2px gray;
            color: white;
        }
        
        #modal2 .content {
            margin-top: 20px;
            padding: 0px 10px;
            text-shadow: 1px 1px 2px gray;
            color: white;
        }