<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.worlds.util.CountryMapper">

<select id = "getAllCountry" resultType="com.team.worlds.util.Country">
	select * from countryTbl
</select>

<select id = "getRegionByCountry" resultType="com.team.worlds.util.Region">
	select * from regionTbl where region_country = #{country_id}
</select>

</mapper>