<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.worlds.messages.MessageMapper">

<select id="get" resultType="com.team.worlds.messages.Message">
		select * from ChatRoomTbl
</select>

<select id="getUser" resultType="com.team.worlds.user.User">
	select * from userTbl where user_id != #{User_ID}
</select>

<select id="search" resultType="com.team.worlds.user.User">
	select * from userTbl where user_id like '%' ||#{User_ID} || '%'
</select>

<select id="getMsg" resultType="com.team.worlds.messages.Message">
	select * from messageTbl where msg_RoomNum = #{msg_RoomNum} order by msg_sendTime
</select>


<select id="getRoom" resultType="com.team.worlds.messages.Message">
	select * from RoomMemberTbl where rm_roomNum=#{rm_roomNum}
</select>

<insert id="send">
insert into messageTbl values (msg_seq.nextval, #{msg_RoomNum, jdbcType=VARCHAR}, #{msg_sendUserID, jdbcType=VARCHAR}, sysdate, (select count(*) from messageTbl where msg_RoomNum = #{msg_RoomNum}) + 1, #{msg_Contents, jdbcType=VARCHAR}, #{msg_Contents, jdbcType=VARCHAR})
</insert>


<insert id="open">
insert into ChatRoomTbl values (#{cr_Num}||chatroom_seq.nextval, #{cr_ownerID}, #{cr_date })
</insert>

<insert id="join">
insert into RoomMemberTbl values ((select cr_Num from ChatRoomTbl where cr_ownerid = #{rm_roomNum} and cr_date = (select max(cr_date) from ChatRoomTbl where cr_ownerid = #{rm_roomNum})), #{rm_userID}, #{rm_lastIndex})
</insert>

<insert id="join2">
insert into RoomMemberTbl values ((select cr_Num from ChatRoomTbl where cr_ownerid = #{rm_roomNum} and cr_date = (select max(cr_date) from ChatRoomTbl where cr_ownerid = #{rm_roomNum})), #{rm_roomNum}, #{rm_lastIndex});
</insert>


<update id="updateIndex" parameterType="com.team.worlds.messages.Message">
		update RoomMemberTbl
		set rm_lastIndex=(select max(msg_index) from messageTbl)
		where
		rm_roomNum=#{rm_roomNum} and rm_userID=#{rm_userID}
	</update>

<update id="updateIndex2" parameterType="com.team.worlds.messages.Message">
		update RoomMemberTbl
		set rm_lastIndex=(select max(msg_index) from messageTbl where msg_roomnum =#{msg_RoomNum})
		where
		rm_roomNum=#{msg_RoomNum} and rm_userID=#{msg_sendUserID}
	</update>

<select id="getMsg2" resultType="com.team.worlds.messages.Message">
	select * from messageTbl where msg_RoomNum = #{msg_RoomNum} order by msg_sendTime
</select>

<insert id="sendMsg2">
insert into messageTbl values (msg_seq.nextval, #{msg_RoomNum, jdbcType=VARCHAR}, #{msg_sendUserID, jdbcType=VARCHAR}, sysdate, (select count(*) from messageTbl where msg_RoomNum = #{msg_RoomNum}) + 1, #{msg_img, jdbcType=VARCHAR}, #{msg_Contents, jdbcType=VARCHAR})
</insert>

<insert id="inviteUser">
insert into RoomMemberTbl values (#{rm_roomNum}, #{rm_userID}, 1)
</insert>

<delete id="outRoom">
delete from RoomMemberTbl where RM_ROOMNUM = #{rm_roomNum} and RM_USERID = #{rm_userID}
</delete>

<delete id="destroyRoom">
delete from chatroomTbl where CR_NUM = #{rm_roomNum}
</delete>

<select id="checkRoom" resultType="com.team.worlds.messages.Message">
select * from RoomMemberTbl where RM_ROOMNUM = #{rm_roomNum}
</select>

<select id="searchbyUser" resultType="com.team.worlds.messages.Message">
select * from chatroomTbl where cr_num in (select rm_roomnum from RoomMemberTbl where rm_userid like '%' ||#{rm_userID} || '%')
</select>

<select id="checkroomindex" resultType="com.team.worlds.messages.Message">
select rm_lastindex from RoomMemberTbl where rm_userid = #{rm_userID} 
</select>

<select id="checkuserindex" resultType="com.team.worlds.messages.Message">
select max(msg_index) as msg_index from MESSAGETBL where msg_roomnum in (select rm_roomnum from ROOMMEMBERTBL where rm_userid =#{rm_userID}) group by msg_roomnum
</select>

</mapper>