<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.worlds.messages.MessageMapper">

<select id="get" resultType="com.team.worlds.messages.Message">
		select * from ChatRoomTbl
</select>

<select id="getUser" resultType="com.team.worlds.user.User">
	select * from userTbl where user_id != #{User_ID}
</select>

<insert id="send">
insert into messageTbl values (#{msg_Num}, #{msg_RoomNum}, #{msg_sendUserID}, #{msg_sendTime}, #{msg_index}, #{msg_img}, #{msg_Contents})
</insert>


<insert id="open">
insert into ChatRoomTbl values (#{cr_Num}||chatroom_seq.nextval, #{cr_ownerID}, #{cr_date })
</insert>

<insert id="join">
insert into RoomMemberTbl values (#{rm_roomNum}, #{rm_userID}, #{rm_lastIndex})
</insert>




</mapper>