<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="searchMapper">



	<select id="" parameterType="String"
		resultType="com.team.worlds.user.User_o">
		select * from userTbl
		where user_ID LIKE
		'%'||#{param.searchWord}||'%'
		or user_nickName LIKE
		'%'||#{param.searchWord}||'%'
		or user_contents like
		'%'||#{param.searchWord}||'%'
		by regDate desc
	</select>




</mapper>