@charset "UTF-8";

.container {
  height :100%;
  margin: 0 auto;
  overflow:hidden;
  display: flex;
  justify-content: center;
}


path {fill: #202020; stroke: #ee005d;}
path:hover {fill: #ee005d;}


.mapSvg
{
	height : 100%;
	stroke-linejoin: round; 
	stroke:#000;
	fill: none;
	text-align: center;
}
